section {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  color: dimgrey;
}
h4 {
  text-align: center;
  margin-bottom: 50px;
}

